*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;

}
.container{
    position: absolute;
    top: 900px;
    right: 0;
    left: 0;
    bottom:0;
    background-color: #000000;
    text-align: center;
    animation-name: backani;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
@keyframes backani {
    
   to{top: 0;}
}

.tic{
    font-size: 8vmin;
    color: white;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    transition: color 2s,text-shadow 5s,font-size 3s;
    text-shadow: none;
}
.tic:hover{
    color: aqua;
    text-shadow: 0 0 3rem rgba(0, 0, 255,400);
    font-size: 120px;
}
.white{
    background-color: white;
    width: 50vmin;
    height: 50vmin;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 1rem rgba(0, 255, 255,400);
    border: aqua;
    border-radius: 10px;
    animation-name: whiteani;
    animation-duration: 3s;
    opacity: 0;
    animation-fill-mode: forwards;
}
@keyframes whiteani {
    to{opacity: 1;}    
}
.game{
    
    width: 60vmin;
    height: 60vmin;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5vmin;
    border-radius: 15px;
    background-color: transparent;
    backdrop-filter: blur(1px);
    border-top: 1px solid rgba(255, 255, 255, 0.982);
    border-left: 1px solid rgb(255, 255, 255);
    border-bottom: 1px solid rgba(255, 255, 255, 0.505);
    border-right: 1px solid rgba(255, 255, 255, 0.505);
}
.box{
    width: 18vmin;
    height: 18vmin;
    background-color: black;
    border: none;
    border-radius: 5px;
    font-size: 8vmin;
    color: none;
    text-shadow: none;
}
.reset-btn {
    
    color: rgb(252, 0, 0);
    font-size: 1rem;
padding: 1rem;
border-radius: 10px;
background-color:black;
border: solid transparent;
transition: border 2s,color 2s;
border-top: transparent;
}
.reset-btn:hover{
    border-top: transparent;
    border-color: red;
    color: white;
}
.new-btn{
    color: lawngreen;
    font-size: 1rem;
padding: 1rem;
border-radius: 10px;
background-color: transparent;
border: solid #000000;
transition: border 2s,color 2s; 
}
.new-btn:hover{
    border-color: lawngreen;
    color: #ffffff;
}
.exit-btn{
    color: aqua;
    font-size: 1rem;
padding: 1rem;
border-radius: 10px;
background-color: transparent;
border: solid #000000;
transition: border 2s,color 2s;
}
.exit-btn:hover{
    border-color: aqua;
    color: #ffffff;
}
.print-btn{
    color: gold;
    font-size: 1rem;
padding: 1rem;
border-radius: 10px;
background-color: transparent;
border: solid #000000;
transition: border 2s,color 2s;
}
.print-btn:hover{
    border-color: gold; 
    color: #ffffff;
}
#msg{
    opacity: 0.8;
    font-size: 8vmin;
    text-shadow:none;
    font-family: Arial black, Helvetica, sans-serif;
    color: white;   
}
.msg-container{
    background-color: #000000;
    position: relative;
    height: 10vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem; 
    animation-name: msg;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}
@keyframes msg {
    to{height: 100vh; }
    
}
.hide{
    display:none;
}
.tt{
    left: 0;
    top: 50px;
    right: 75%;
    height: 15vmin;
    width: 30vmin;
    text-align: center;
    color:white;
    font-size: 3vmin;
}

.secret{
    font-size: 1rem;
    padding: 10px;
border-radius: 10px;
background-color: transparent;
border: transparent;
transition: all 150ms;
color: transparent;
}
.bl{
    color: #ffffff; border: solid aqua; text-shadow: 0 0 10px #03bcf4, 0 0 20px #03bcf4, 0 0 40px #03bcf4, 0 0 80px #03bcf4, 0 0 160px #03bcf4;
transform: all;}
.red{
    color: #ffffff; border: solid red; text-shadow: 0 0 10px red, 0 0 20px red, 0 0 40px red, 0 0 80px red, 0 0 160px red;transition: all;
}
.bl:hover{
    color: #ffffff;
    
    text-shadow: 0 0 10px greenyellow, 0 0 20px greenyellow, 0 0 40px greenyellow, 0 0 80px greenyellow, 0 0 160px greenyellow;
}
.red:hover{
    color: #ffffff;
    
    text-shadow: 0 0 10px red, 0 0 20px red, 0 0 40px red, 0 0 80px red, 0 0 160px red;
}
  .confetti-piece {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 10px;
    height: 10px;
    background-color: white;
    animation: fall 2.5s linear infinite ;
    opacity: 0;
    z-index: 2;
  }
  
  @keyframes fall {
    0% {
      top: 0;
      opacity: 1;transform: translate(-1vh)  rotate(0deg) rotateY(0deg);
    }
    25% {
      transform: translate(1vh) rotate(45deg) rotateY(180deg);
    }
    50% {
      transform: translate(-1vh) rotate(90deg) rotateY(-180deg);
    }
    75% {
      transform: translate(1vh) rotate(135deg) rotateY(0deg);
    }
    100% {
      top: 100vh;
      opacity: 0;
      transform: translate(-1vh) rotate(360deg) rotateY(180deg);}
  }

.test::first-letter{
    text-transform: uppercase;
}
.test2::first-letter{
    text-transform: uppercase;
}
button:active{
   font-size: 2vmin;
}
#line{

    opacity: 1;
    z-index: 50;
    background-color: white;
    animation: lining 1s linear ;
}

.line1{
    
    height: 1vmin;
    width: 80%;
    position: absolute;
    top: 60px;
    left: 50px;
    
}
.line2{
    left: -99px;
    height: 1vmin;
    width: 80%;
    transform: rotateZ(90deg) ;
    position: absolute;
    top: 205px;
}
.line3{
    left: 0px;
    height: 1vmin;
    width: 100%;
    transform: rotateZ(45deg);
    position: absolute;
    top: 205px;
}
.line4{
    
    height: 1vmin;
    width: 80%;
    transform: rotateZ(90deg) ;
    position: absolute;
    top: 205px;
}
.line5{
    left: 185.5px;
    height: 1vmin;
    width: 80%;
    transform: rotateZ(90deg) ;
    position: absolute;
    top: 205px;
}
.line6{
    left: 0px;
    height: 1vmin;
    width: 100%;
    transform: rotateZ(-45deg) ;
    position: absolute;
    top: 205px;
}
.line7{
   
    height: 1vmin;
    width: 80%;
    position: absolute;
    top: 202px;
}
.line8{
   
    height: 1vmin;
    width: 80%;
    position: absolute;
    top: 345px;
}

@keyframes lining {
    from{scale: 0%;}
    to{scale: 99.99%;}
}
.show{
    opacity: 1;
}
#draw{
    opacity: 1;
    color: #ffffff;
    margin-left: 150vh;
    text-shadow:0 0 10px red, 0 0 20px red, 0 0 40px red, 0 0 80px red, 0 0 160px red;
    animation:suii 2s linear 1s;
}
@keyframes suii {

    to{opacity: 0.1;margin-top: 65vh;}    
}
@media only screen and (max-width: 600px) {
    #draw{
        margin-left: 50vh;
    }
    .line1{
        left: 30px;
        top:30px;
    }
    .line2{
        left: -50px;
        top: 100px;
    }
    .line5{
        left: 90px;
        top: 100px;
    }
    .line3{
        left: 0px;
        top: 100px;
    }
    .line6{
        left: 0px;
        top: 100px;
    }
    .line4{
        left: 20px;
        top: 100px;
    }
    .line7{
        top: 100px;
        left: 20px;
    }
    .line8{
        left: 20px;
        top: 170px;
    }
    .tt{
        transform: translate(120%,30px);
    }
    .tt button{
        font-size: 3vmin;
        padding: 5px;
    }
    .tic:hover{
        font-size:10vmin;
    }
}

