*{
    margin: 0;
    padding: 0;
    box-sizing:fill;
}
body,html{
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.bdy{
    position:absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: linear-gradient(40deg,black 75%,aqua );
   
}
.glass-body{
    position: absolute;
    top: 50%;
    left: 50%;
    /* background: linear-gradient(120deg,aqua,#000000 50%); 
   */  height: 85%;
    width: 89%;
    transform: translate(-50%,-50%);
    border: none;
    border-radius: 0px;
    align-items: center;
    opacity: 0;
    animation-name: glassani;
    animation-delay: 1s;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    background-color: rgba(255, 255, 255, .027);
    backdrop-filter: blur(1px);
    border-top: 1px solid  rgba(255, 255, 255, .4);
    border-right: 1px solid  rgba(255, 255, 255, .3);
    /* border-bottom: 1px solid  rgba(255, 255, 255, .3); */
    /* border-left: 1px solid  rgba(255, 255, 255, .3); */
}
@keyframes glassani {
    from{opacity: 0;border-radius: 0px;}
      
    to{opacity: 1;border-radius: 50px;}    
}
.glass-body::after{
    content: "";
    width: 50%;
    height: 150%;
    background-size: 100% 100%;
    position: absolute;
    top: -25%;
    right: 0%;
    z-index: -1;
    background-image: url(bg.png);
    filter:invert(1);
    opacity: 0.2;
    
}
.body-content {
    height: 30%;
    width: 100%;
    display: flex;
    position: absolute;
    flex-direction: column;
    gap: 25px;
    transform: translate(-50%, -50%);
    background-color: none;
    top: 50%;
    left: 50%;
    text-align: center;
    align-items: center;
    font-size:x-small;
    justify-content: center;
    font-family: Arial black, Helvetica, sans-serif;
}
.play{
    height: 75px;
    width: 95px;
    background-color: black;
    border-radius: 45px;
    border:solid aqua;
    box-sizing: 20%;
    justify-content: center;
    animation-name: example;
    animation-duration: 10s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
}
.play-icon{
    position:inherit;
    margin-left: 25px;
    width: 50%;
    height: 50%;
    clip-path: polygon( 00% 00%, 100% 50%,0% 100% );
    background-color: #000000;
    z-index: 10;
    animation-name: example1;
    animation-duration: 5s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}
.play-icon:active{
   scale: 1.1;
}
@keyframes example {
    0%   {border-color:aqua; left:0px; top:0px;}
    25%  {border-color:yellow; left:200px; top:0px;}
    50%  {border-color:red; left:200px; top:200px;}
    75%  {border-color:green; left:0px; top:200px;}
    100% {border-color:aqua; left:0px; top:0px;}
  }
@keyframes example1{
    from {background-color: black;}
  to {background-color: white;}
}
.play-button{
    height: 70px;
    width: 90px;
    background-color: #000000;
    border-radius: 450px;
    border-color: #ffffff;
    box-sizing: 20%;
    align-content: center;
    box-shadow: 65vmin;
}
h1{
    color: #ffffff;
    font-size: normal;
    animation-name: play;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-delay: 30s;
}
@keyframes play {
    to{font-size: 4vmin;color: red;}
}

@media only screen and (max-width: 600px) {
    .glass-body{
        width: 90vw;
        height: 90vh;
    }
    .glass-body::after{
        width: 60vw;
        height: 70vh;
    }
    #head-img{
        width: 100vw;
        height: 40vmin;
    }
    
}
