*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}
.back{
    position:absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(40deg, black 75%,aqua );
    animation-name: backani;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    opacity: 0;
}
@keyframes backani {
    to{opacity: 1;}
}
.glass{
    position: absolute;
    top: 50%;
    left: 50%;
    background: linear-gradient(40deg,rgba(0, 255, 255, 0.308)  , #00000046 45% );
    height: 85%;
    width: 89%;
    transform: translate(-50%,-50%);
    border: none;
    border-radius: 0px;
    display:flex;
    flex-direction: column;
    gap: 25px;
    justify-content: center;
    align-items: center;
    align-content: center;
    color: aqua;
    opacity: 0;
    /* background-color: rgba(57, 111, 130, 0.244); */
    backdrop-filter: blur(10px);
    border-top: 1px solid  rgba(255, 255, 255, 0.586);
    border-right: 1px solid  rgba(255, 255, 255, 0.623);
    border-left: 1px solid  rgba(255, 255, 255, 0.623);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.023);
    animation-name: glassani;
    animation-delay: 0s;
    animation-duration: 2s;
    animation-fill-mode: forwards;       
}
@keyframes glassani {
    from{opacity: 0;border-radius: 0px;}
      
    to{opacity: 1;border-radius: 50px;}    
}
.glassb{
    display: flex;

}
.submit{
    color: aqua;
    padding: 5px;
    border:  solid #000;
    background-color: #000000;
    border-radius: 10px;
    font-size: 2vmin;
    transition: color 2s,border 2s;
}
.submit:hover{
    color: #ffffff;
    border-color: aqua;
}
.showname{
   
    color: aqua;
    padding: 5px;
    border:  solid transparent;
    background-color:transparent;
    border-radius: 10px;
    font-size: 2vmin;
    transition: color 2s,border 2s;
}
.showname:hover{
    color: #ffffff;
    border-color: aqua;
}
.head{
    color:white;
    animation-name: example;
    text-shadow: 0 0 10px aqua, 0 0 20px aqua, 0 0 40px aqua, 0 0 80px aqua, 0 0 160px aqua;
}
#demo{
    transition: all 2s;
    letter-spacing: 1mm;
}
#demo:hover{
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 2mm;
}
input{
    padding: 1px;
   background-color: transparent;
   border: transparent;
   transition: border ;
   color: aqua;
   text-align: center;
   text-decoration: aqua;
}
input:hover{
    border: solid rgb(0, 255, 255);
    color: white;background-color: transparent;
}
@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}
.glassb{
    --colorv:aqua;
    height: 40vmin;
    width: 45vmin;
    background-image: conic-gradient(from var(--angle),transparent 20%, var(--colorv) 50% ,transparent 20% ,var(--colorv) );
    padding: 1mm;
    position: relative;
    border-radius: 10px;
    animation: spin 5s infinite ease-in-out;
}
@keyframes spin {
    
    0%{--angle:0deg;--colorv:aqua;}
    50%{ --colorv:aqua;}
    100%{--angle:360deg; --colorv:aqua;}    
}

form{
    text-align: center;
    width: 45vmin;
    padding: 10px;
    background-color: black;
    border-radius: 10px;
    border:solid blur(1.25rem);
}
form input::placeholder{
    color: aqua;
    opacity: 0.4;
}

input:active{
    font-size: 1.9vmin;
}

form::selection,input::selection,.head::selection{
    background-color:rgba(127, 255, 212, 0.8);
    color: #000;
    text-shadow: transparent;
}